.registration-main{

    width: 100%;
    /* height:65rem; */
    background-color: rgb(243, 235, 235);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.registration-heading{
    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration-heading h3{

    color: rgb(4, 4, 54);
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;

    
}

.registration-h3-underline{
    width: 90px;
    height: 2.5px;
    background-color: black;

}


.registration-main .resgistation{

    width: 90%;
    height: auto;
   
}

.items-reverse{
    
    flex-direction: row-reverse;
}